In [286]:
#import libraries

In [287]:
import pandas as pd

In [288]:
import numpy as np

In [289]:
import sklearn

In [290]:
#import dataset

In [291]:
df = pd.read_csv('Music.csv')

In [292]:
#dataset info

In [293]:
df

    age  gender      genre
0    20       1     Hiphop
1    22       1     Hiphop
2    23       1     Hiphop
3    25       1     Hiphop
4    26       1       Jazz
5    28       1       Jazz
6    29       1       Jazz
7    30       1       Jazz
8    31       1  Classical
9    32       1  Classical
10   34       1  Classical
11   20       0      Dance
12   21       0      Dance
13   24       0      Dance
14   25       0      Dance
15   27       0   Acoustic
16   28       0   Acoustic
17   30       0   Acoustic
18   31       0  Classical
19   32       0  Classical
20   34       0  Classical
21   35       0  Classical

In [294]:
df.shape

(22, 3)

In [295]:
df.dtypes

age        int64
gender     int64
genre     object
dtype: object

In [296]:
#data cleansing

In [297]:
#drop columns

In [298]:
#separate dataset

In [299]:
df_music = df.drop(columns = ['genre'])

In [300]:
df_music

    age  gender
0    20       1
1    22       1
2    23       1
3    25       1
4    26       1
5    28       1
6    29       1
7    30       1
8    31       1
9    32       1
10   34       1
11   20       0
12   21       0
13   24       0
14   25       0
15   27       0
16   28       0
17   30       0
18   31       0
19   32       0
20   34       0
21   35       0

In [301]:
df_genre = df['genre']

In [302]:
df_genre

0        Hiphop
1        Hiphop
2        Hiphop
3        Hiphop
4          Jazz
5          Jazz
6          Jazz
7          Jazz
8     Classical
9     Classical
10    Classical
11        Dance
12        Dance
13        Dance
14        Dance
15     Acoustic
16     Acoustic
17     Acoustic
18    Classical
19    Classical
20    Classical
21    Classical
Name: genre, dtype: object

In [303]:
#build a model

In [304]:
#test model predictions

In [305]:
from sklearn.tree import DecisionTreeClassifier

In [306]:
from sklearn.model_selection import train_test_split

In [307]:
from sklearn.metrics import accuracy_score

In [308]:
df_music_train, df_music_test, df_genre_train, df_genre_test = train_test_split(df_music, df_genre, test_size = 0.2)

test_model = DecisionTreeClassifier()
test_model.fit(df_music_train, df_genre_train)
test_model_predictions = test_model.predict(df_music_test)

score = accuracy_score(df_genre_test, test_model_predictions)

In [309]:
score

1.0